@import "./../vars.css";

.wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 160px;
    height: 100%;
    position: relative;
    margin-bottom: 2rem;

}

.title {
    position: absolute;
    opacity: .03;
    font-size: 8.25rem;
    text-transform: uppercase;
    font-weight: 600;
}

.description {
    color: var(--main-gray);
}

.animatedBar {
    background-color: var(--main-green);
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}

.animatedBar::before {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: barAnimation;
    animation-timing-function: linear;
    background-color: #101010;
    content: '';
    height: 100%;
    position: absolute;
    left: 0;
    width: 8px;
}

.animatedBar::after {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: barAnimation;
    animation-timing-function: linear;
    background-color: #101010;
    content: '';
    height: 100%;
    position: absolute;
    left: -22px;
    width: 8px;
}

@keyframes barAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(125px);
    }
}